body {
  background: linear-gradient(#C2D9EC, #D7E4BC);
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #753D1C;
}

.main-container {
  display: flex;
  align-items: center;
}

.book-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-illustration {
  position: fixed;
  left: 7rem;
  max-width: 100%;
}

button {
  background-color: inherit;
  color: inherit;
  border: none;
  cursor: pointer;
}

#book-informations {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0 1rem 0;
  font-size: 1.5rem;
}


#skip-backward, #skip-forward {
  font-size: 3rem;
}

#play-pause {
  font-size: 4rem;
}

#buttons-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}


@media screen and (max-width: 1600px) {
  .book-illustration {
    width: 33%;
    left: 1.25rem;
  }

  .book-cover {
    width: 85%;
  }

  #book-informations {
    font-size: 1.3rem;
  }

  #skip-backward, #skip-forward {
    font-size: 2.75rem;
  }

  #play-pause {
    font-size: 3.25rem;
  }

  #buttons-container {
    width: 85%;
  }
}

@media screen and (max-width: 1024px) {
  .book-illustration {
    width: 35%;
    left: 1rem;
  }

  .book-cover {
    width: 80%;
  }

  #book-informations {
    font-size: 1.3rem;
  }

  #skip-backward, #skip-forward {
    font-size: 2.5rem;
  }

  #play-pause {
    font-size: 3rem;
  }

  #buttons-container {
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  .book-illustration {
    width: 35%;
    left: 0.5rem;
  }

  .book-cover {
    width: 60%;
  }

  #book-informations {
    font-size: 1.2rem;
  }

  #skip-backward, #skip-forward {
    font-size: 2rem;
  }

  #play-pause {
    font-size: 2.5rem;
  }

  #buttons-container {
    width: 60%;
  }
}

@media screen and (max-width: 600px) {
  .book-illustration {
    display: none;
  }

  .book-cover {
    width: 70%;
  }

  #book-informations {
    font-size: 1.3rem;
  }

  #skip-backward, #skip-forward {
    font-size: 2.5rem;
  }

  #play-pause {
    font-size: 3rem;
  }

  #buttons-container {
    width: 70%;
  }
}